// ======================================
//  Utilities variables
// ======================================

// Colors
$color-text: #282c34;
$color-accent: #ec256e;
$color-bg: #fafafa;
$color-highlight: #554e59;

$white: #fff;

// Fonts
$font-stack-primary: 'Roboto', sans-serif;

// Layout
$max-width: 1000px;

//border radius
$br: 3px;

// Break points
$brk-mobile : 'min-width: 425px';
$brk-tablet : 'min-width: 768px';
$brk-desktop : 'min-width: 1024px';
